.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 85%;
    margin: 0 auto;

    svg {
        margin:1em;
    }

    .title {
        display: flex;
        flex-direction: row;
        margin: 1em;
        text-transform: uppercase;
        letter-spacing: 2px;

        img {

            width: 200px;
            }

        h1 {
            display: none;
            position:relative;
            top: 0.5em;
            margin: 0.5em;

            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }
}